/* img {
  width: 200px;
  height: 200px;
  border:none;
  margin: auto;
} */

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: space-between;
  color: black;
  align-items: center;
}

.all-services {
  justify-content: center;
  width: 80%;
}

.list-item {
  height: 15%;
  width: 20%;
  display: block;
  flex-direction: column;
  margin: 15px;
  text-align: center;
  justify-content: center;
  border: none;
  text-decoration: none;
  color: black;
}

.service {
  background-color: #fffdf4;
  padding: 10px;
  border: solid 1px #84848496;
}

.service a {
  color: #ef7878;
  margin-top: 1em;
}

.home {
  display: flex;
}

.home > div#homeText {
  /* flex: 2; */
  margin-top: 15%;
  margin-left: 6%;
  padding: 40px;
  line-height: 3em;
}



#homeImg {
  margin-top: 12%;
}



div#background {
  background: url(https://farm1.staticflickr.com/884/27171020888_d1b2986a8b_k.jpg);
  background-position: center center;
  background-repeat:  no-repeat;
  background-attachment: fixed;
  background-size:  cover;
  background-color: #999;
}
nav {
  display: flex;
  justify-content: space-between;
  position: fixed;
  margin: 2em;
  padding: 10px;
  width: calc(100vw - 1em);
  z-index: 2;
}


#topMargin {
  margin-top: 12em;
  margin-bottom: 10em;
}
