/* img {
  width: 200px;
  height: 200px;
  border:none;
  margin: auto;
} */

.siteTitle {
  font-size: 3.5rem;
  text-decoration: underline;
  text-decoration-color: #E34383;
}

a {
  color: #E34383;
  text-decoration-line: none;
}

li {
  padding: 10px;
}

.f1 {
  font-weight: 200;
}

.f2 {
  font-size: 2.5rem;
  color: #0E1B1C;
  font-weight: 400;
  padding: 15px 0px 15px 0px;
}

.f3 {
  color: #0E1B1C;
  font-weight: 700;
  padding: 15px 0px 15px 0px;
}

.f4 {
  padding: 15px 0px 15px 0px;
}

button.f4 {
  padding: 15px 15px 15px 15px;
}

.bt {
  border-top-color: #91D446;
}

.containerInner {
  padding: 10px;
  margin: 20px;
  background-color: #fff;
}

.purchase {
  width: 100%;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: space-between;
  color: black;
  align-items: center;
}

.all-services {
  justify-content: center;
  width: 80%;
}

.list-item {
  height: 15%;
  width: 20%;
  display: block;
  flex-direction: column;
  margin: 15px;
  text-align: center;
  justify-content: center;
  border: none;
  text-decoration: none;
  color: black;
  box-shadow: 2px 2px 10px #CCC;
}

.service {
  background-color: #F3F2F3;
  padding: 10px;
  border: solid 1px #84848496;
}

.service a {
  color: #385B55;
  margin-top: 1em;
}

.home {
  display: flex;
}

.home > div#homeText {
    flex: 1;
    margin-top: 9%;
    margin-left: 5%;
    margin-right:3%;
    padding: 40px;
    line-height: 3em;
}

#homeImg {
  flex:2;
  margin-top: 8%;
  width: 140%;
}

div#background {
  background: url(https://farm1.staticflickr.com/884/27171020888_d1b2986a8b_k.jpg);
  background-position: center center;
  background-repeat:  no-repeat;
  background-attachment: fixed;
  background-size:  cover;
  background-color: #999;
}

nav {
  display: flex;
  justify-content: space-between;
  position: fixed;
  margin: 2em;
  padding: 10px;
  width: calc(100vw - 1em);
}

#topMargin {
  margin-top: 12em;
  margin-bottom: 10em;
}

#topMarginLogin {
  margin-top: 12em;
  margin-bottom: 50em;
}

.bg-light-gray {
  background-color: #f3f2f3;
}

#logo {
  position: absolute;
  top:8px;
  left:-1em;
  width: 5em;
  height: 5em;
  z-index: 3;
}

#logoTitle{
  /* display: flex; */
  margin-left:4em;
  width: 550px;
}


#homeText {
  margin-top:-20px;
  padding-top: -200px;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between  */
}

#homeText > .modal{
  flex:1;
  /* position: absolute; */
  margin-top: -10em;
}

#text{
  /* margin-top: 10em; */
  margin-bottom: -5em;
  font-size: 32px;
  line-height: normal;
  color: white;
  font-weight: lighter;
}

#textSignedIn {
  margin-bottom: 0em;
  color: white;
  padding-top: 137px;
  line-height: 68px;
}


.modalBox {
  flex:1;
  /* position: absolute; */
  top: 4em;
  width: 100%;
  background-color: white;
  border-radius: 15px;
  padding: 10px;
  opacity: 1;
}

#signUpButton {
  padding-left: 6em;
  padding-right: 6em;
}

